<h1 mat-dialog-title>{{naslov}}</h1>

<div mat-dialog-content>
    <form [formGroup]="proizvodiForm">
        <mat-form-field appearance="outline">
            <mat-label>Sifra proizvoda</mat-label>
            <input [readonly]="izmena" formControlName="SifraProizvoda" matInput type="number" (change)="proveri()" placeholder="Unesi sifru proizvoda">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Naziv modela</mat-label>
            <input  formControlName="NazivModela" matInput placeholder="Unesi naziv modela">
        </mat-form-field>
        <br>
        <button [disabled]="!unosKarakteristike" mat-raised-button color="primary" (click)="dodajKarakteristiku()" >Dodaj karakteristiku</button>
        <br>
    </form>
</div>
<br>
<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="redniBroj">
          <th mat-header-cell *matHeaderCellDef> redni broj </th>
          <td mat-cell *matCellDef="let element"> {{element.IDKarakteristike}} </td>
        </ng-container>
      
        <ng-container matColumnDef="SifraProizvoda">
          <th mat-header-cell *matHeaderCellDef> sifra proizvoda </th>
          <td mat-cell *matCellDef="let element"> {{element.SifraProizvoda}} </td>
        </ng-container>
      
        <ng-container matColumnDef="NazivKarakteristike">
          <th mat-header-cell *matHeaderCellDef> naziv </th>
          <td mat-cell *matCellDef="let element"> {{element.NazivKarakteristike}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Vrednost">
          <th mat-header-cell *matHeaderCellDef> Vrednost </th>
          <td mat-cell *matCellDef="let element"> {{element.Vrednost}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button color="primary" (click)="izmeniKarakteristiku(element)">
                    <mat-icon>edit</mat-icon>
                </button>    
                <button  mat-icon-button color="warn" (click)="obrisiKarakteristiku(element)">
                    <mat-icon>delete</mat-icon>
                </button> 
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>

<br>

<div mat-dialog-action [align]="'center'">
  <button mat-raised-button color="warn" mat-dialog-close>Odustani</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="sacuvajProizvod()">{{actionBtn}}</button>
</div>

<!-- <button mat-raised-button color="primary" (click)="sacuvajProizvod()">{{actionBtn}}</button>
 -->


