<div class="position-absolute top-50 start-50 translate-middle">
    <h1>Dobrodosli u ASUS Product Management!</h1>
</div>

<!-- <div class="container">
    <form action="">
        <div class="form-group">
            <label for="PIBKupca">PIBKupca</label>
            <input type="number" name="PIBKupca" class="form-control">
        </div>
        <div class="form-group">
            <label for="NazivKupca">NazivKupca</label>
            <input type="text" name="NazivKupca" class="form-control">
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-select placeholder="Izaberite drzavu">
                    <ng-container *ngFor="let Drzava in drzave">
                        <mat-option value="Drzava.IDDrzave">{{Drzava.NazivDrzave}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div> -->

