table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .container{
      max-width: 1200px;
      margin: 0 auto;
  }

  .mat-elevation-z8{
    width: 60%;
    align-items: center;
    margin: 5% 5% 5% 20%;
  }