<h1 mat-dialog-title>{{naslov}}</h1>
<div mat-dialog-content>
    <form [formGroup]="karakteristikaForm">

        <mat-form-field appearance="outline">
            <mat-label>Naziv Karakteristike</mat-label>
            <input formControlName="NazivKarakteristike" matInput placeholder="Placeholder">
        </mat-form-field>
        <br>
        <br>

        <mat-form-field appearance="outline">
            <mat-label>Vrednost</mat-label>
            <input formControlName="Vrednost" matInput type="number" placeholder="Placeholder">
        </mat-form-field>
    </form>
        
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close (click)="zatvoriDialog()">Odustani</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="izmeniKarakteristiku()">Sacuvaj izmene</button>
   
</div>