<h1 mat-dialog-title>Unos novog kupca</h1>
<div mat-dialog-content>
    <form [formGroup]="kupciForm">
        <mat-form-field appearance="outline">
            <mat-label>PIB</mat-label>
            <input formControlName="pib" matInput type="number" placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Naziv kupca</mat-label>
            <input formControlName="nazivKupca" matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Drzava</mat-label>
            <mat-select formControlName="drzava"  [(value)]="selectedValueDrzava">
              <mat-option *ngFor="let drzava of drzave" [value]="drzava" (click)="vratiGradove()">
                {{drzava.nazivDrzave}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Grad</mat-label>
            <mat-select formControlName="grad" [(value)]="selectedValueGrad">
              <mat-option *ngFor="let grad of gradovi" [value]="grad" (click)="ispisi()">
                {{grad.nazivGrada}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Adresa</mat-label>
            <input formControlName="adresa" matInput placeholder="Placeholder">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Odustani</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="sacuvajKupca()">Sacuvaj</button>
   
</div>