<h1 mat-dialog-title>{{naslov}}</h1>
<div mat-dialog-content>
    <form [formGroup]="kupciForm">
        <mat-form-field appearance="outline">
            <mat-label>PIB</mat-label>
            <input [readonly]="izmena" formControlName="PIB" matInput type="number" placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Naziv kupca</mat-label>
            <input formControlName="NazivKupca" matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Drzava</mat-label>
            <mat-select formControlName="Drzava"  [(value)]="selectedValueDrzava">
              <mat-option *ngFor="let Drzava of drzave" [value]="Drzava.IDDrzave" (click)="vratiGradove()" >
                {{Drzava.NazivDrzave}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Grad</mat-label>
            <mat-select formControlName="Grad" [(value)]="selectedValueGrad">
              <mat-option *ngFor="let Grad of Gradovi" [value]="Grad.NazivGrada" (click)="ispisi()">
                {{Grad.NazivGrada}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Adresa</mat-label>
            <input formControlName="adresa" matInput placeholder="Placeholder">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Odustani</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="sacuvajKupca()">{{actionBtn}}</button>
   
</div>